*
{
	box-sizing: border-box;
}


.indicator-title {
    color: #337ab7;
}


.indicator-overview-charts {
    margin-top: 35px;
}

.indicator-rate {
    /*padding-left: 50px;*/
}

.indicator-desc {
	padding: 15px 0;
  
}

.issue-list-desc{
	padding: 10px 5px;
}

.issue {
	border-bottom: 1px solid #ddd;
	padding: 5px 15px;
}

.issue div {
	padding: 0;
}

.issue small {
	font-size: 80%;
}

.panel-danger > .issue-heading {
	background-color: #DB524A;

	background-image: none;
}

.panel .issue-heading {
	color: #fff;
	font-weight: bold;
	font-size: 17px;
}

.panel-danger {
	border-color: #DB524A;
}

.fa {
	padding-right: 5px;
	padding-left: 5px;
}

.nav-tabs {
	border: 1px solid #E9E9E9;
	border-radius: 4px;	
	background-color: #F8F8F8;
}
 
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	color: #000;
	border: none;
	background-color: #E7E7E7;
}

.nav-tabs>li>a {
border: none;
  border-radius: 0;
  margin-right: 0;
  display:block;
  padding: 15px 15px;
  color: #252525;
	font-weight: bold;
}

.nav-tabs>li:first-child a {
	color: #A5A5A5;
	pointer-events: none;
}

.issue .issue-check {
	font-size: 16px;
	font-weight: 400;
}

.issue .mark-issue {
	color: #6CBF6B;
}

.issue .remove-issue {
	color: #DEDEDE;
}

.learn-more
 {
 	float: right;
	position: relative;
	text-decoration: none;
	display: block;
	margin-top: 10px;
}

.learn-more a {
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	font-size: 16px;
	color: #2E77B5;
}

.learn-more a:active {
    position: relative;
    top: 2px;
    color: #3B3176;
}

.learn-more a:hover {
    color: #000;
    text-decoration: none;
}

.issue .issue-check label {
	position: relative;
	top: -2px;
	margin: 10px 5px 10px;
	font-weight: 400;
}

/* input[type=checkbox] {
	width: 16px;
	height: 16px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin: -1px 4px 0 8px;
    vertical-align:middle;
    background:url(../images/css-checkbox.png) left top no-repeat;
    cursor:pointer;
    background-size: 95%;
}

input[type="checkbox"]:checked + label span {
    background:url(../images/css-checkbox.png) left -19px no-repeat;
    background-size: 95%;
}*/

.callbacks, .callbacks + p, #examples, .content, .disable-destroy, .show-hide, .dialog, .all-themes-switch, .scrollTo{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

nav, .callbacks, .disable-destroy, .show-hide, .dialog, .all-themes-switch, .scrollTo{ background: #111; }

nav ul li, .callbacks ul li, .disable-destroy ul li, .show-hide ul li, .dialog ul li, .all-themes-switch ul li, .scrollTo ul li{
	float: left;
	margin: 3px 6px 3px 0;
}

.callbacks ul li.off{ opacity: 0.4; }

.callbacks ul li a, .disable-destroy ul li a, .show-hide ul li a, .dialog ul li a, .all-themes-switch ul li a, .scrollTo ul li a{
	display: block;
	padding: 3px 15px;
	text-decoration: none;
	color: #ccc;
}

.callbacks + p{
	color: #bbb;
	font-size: 12px;
}

.callbacks + p span{ display: inline-block; }

.callbacks + p span span{
	color: #eee;
	min-width: 40px;
}

.callbacks a span{
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
	background: #333;
	margin-right: 3px;
	-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;
}

.callbacks a span.on{ background: #eb3755; }

.callback-offset, .callback-offset-back{
	width: 100%;
	position: absolute;
}

.callback-offset-back{
	top: 0;
	height: 50px;
	border-bottom: 1px dashed #ffed0d;
}

.callback-offset{
	bottom: 0;
	height: 60px;
	border-top: 1px dashed #ffed0d;
}

code{
	color: #caaee1;
	font-family: monospace;
}

#examples{
	background-color: #191919;
	background-color: rgba(0,0,0,0.3);
	padding: 5px;
	margin: 10px 0;
	overflow: hidden;
}

<<<<<<< HEAD
#examples > hr{ margin: 20px 10px; }

.scroll-content{
	overflow: auto;
	position: relative;
	padding: 10px 0 0 0;
	margin: 1px;
	height: 231px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.scroll-content.hidden{ display: none; }

.scroll-content hr{
	margin-bottom: -10px;
	border-top: 1px solid rgba(0,0,0,0.7);
}

.panel:hover {
    top: 6px;
}


#examples > hr{ margin: 20px 10px; }
